<!--Kodet som gruppe-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="mnt">

<ul>
    <li><a class="active" href="../">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../bookingtemp\verify">Create Booking</a>
            <a href="../bookingtemp\cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../motorhometemp\create-motorhome">Create Motorhome</a>
            <a href="../motorhometemp\show-motorhome"> Show Motorhome</a>
            <a href="../motorhometemp\deletemotorhome">Delete Motorhome</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../customertemp\create-customer">Create Customer</a>
            <a href="../customertemp\show-customer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="../about">About</a></li>
</ul>
<div class="container">
    <h1 style="text-align: center; "> Delete Motorhome </h1>
    <form action="#" th:action="@{/motorhometemp/deletemotorhome}"  method="post">
        <p th:text="'ID: ' + ${motorhome.idMotorhome}"/>
        <p th:text="'Type: ' + ${motorhome.type}"/>
        <p th:text="'Model: ' + ${motorhome.model}"/>
        <p th:text="'Brand: ' + ${motorhome.brand}"/>
        <input type="hidden" th:field="${motorhome.idMotorhome}"/>
        <input type="submit" value="Delete" class="btn btn-del"/>
    </form>
</div>

</body>
</html>