<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cancel</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="booking">Create Booking</a></li>
    <li><a href="cancel">Cancel Booking</a></li>
    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="showcustomer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
</body>
</html>