<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="booking">Create Booking</a></li>
    <li><a href="cancel">Cancel Booking</a></li>
    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="#">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/cc}" th:object="${customers}" method="post">
        <br>
        <p>First Name.: <input type="text" th:field="*{customerFname}"/></p>
        <p>Last Name.: <input type="text" th:field="*{customerLname}"/></p>
        <p>Phone.........: <input type="text" th:field="*{customerPhone}"/></p>
        <p>Email.........: <input type="text" th:field="*{customerEmail}"/></p>
        <div align="center">
            <input type="submit" value="Create" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>