<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create booking</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="create">Create Booking</a>
            <a href="cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="motorhome">Create Motorhome</a>
            <a href="showmotorhome"> Show Motorhome</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="showcustomer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/create}" th:object="${booking}" method="post">
        <br>
        <p><input type="hidden" th:field="*{customerPhone}"/></p>
        <label>Booking start:</label>
        <p><input type="date" th:field="*{bookingDate}"/></p>
        <label>Booking end:</label>
        <p><input type="date" th:field="*{bookingEndDate}"/></p>
        <label>Dropoff location (Optional):</label>
        <p><input type="text" th:field="*{dropoff}"/></p>
        <label>Pickup location (Optional):</label>
        <p><input type="text" th:field="*{pickup}"/></p>
        <label>Motorhome: </label>
        <p><input type="text" th:field="*{idMotorhome}"/></p>
        <div align="center">
         <input type="submit" value="Create" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>