<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="verify">Create Booking</a>
            <a href="cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="create-motorhome">Create Motorhome</a>
            <a href="show-motorhome"> Show Motorhome</a>
            <a href="deletemotorhome">Delete Motorhome</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="create-customer">Create Customer</a>
            <a href="show-customer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/create-customer}" th:object="${customers}" method="post">
        <br>
        <label>First Name:</label>
        <p><input required="required" type="text" th:field="*{customerFname}"/></p>
        <label>Last Name:</label>
        <p><input required="required" type="text" th:field="*{customerLname}"/></p>
        <label>Phone:</label>
        <p><input required="required" type="text" th:field="*{customerPhone}"/></p>
        <label>Email:</label>
        <p><input type="email" th:field="*{customerEmail}"/></p>
        <div align="center">
            <input type="submit" value="Create" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>