<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Motorhomes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="create">Create Booking</a>
            <a href="cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="motorhome">Create Motorhome</a>
            <a href="showmotorhome"> Show Motorhome</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="showcustomer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/motorhome}" th:object="${motorhome}" method="post">
        <br>
        <label>Type:</label>
        <p><input required="required" type="text" th:field="*{type}"/></p>
        <label>Brand:</label>
        <p><input required="required" type="text" th:field="*{brand}"/></p>
        <label>Model:</label>
        <p><input required="required" type="text" th:field="*{model}"/></p>
        <label>Size:</label>
        <p><input required="required" type="number" th:field="*{size}"/></p>
        <label>Status:</label>
        <p><input required="required" type="text" th:field="*{status}"/></p>
        <br>
        <div align="center">
            <input type="submit" value="Create" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>