<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Motorhomes</title>
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="booking">Create Booking</a></li>
    <li><a href="cancel">Cancel Booking</a></li>
    <li><a href="/motorhome">Motorhomes</a></li>
    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="showcustomer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/motorhome}" th:object="${motorhome}" method="post">
        <br>
        <p>Type: <input type="text" th:field="*{type}"/></p>
        <p>Brand: <input type="text" th:field="*{brand}"/></p>
        <p>Model: <input type="text" th:field="*{model}"/></p>
        <p>Size: <input type="text" th:field="*{size}"/></p>
        <p>Status: <input type="text" th:field="*{status}"/></p>
        <div align="center">
            <input type="submit" value="Create" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>