<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Motorhome</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="create">Create Booking</a>
            <a href="cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="motorhome">Create Motorhome</a>
            <a href="showmotorhome"> Show Motorhome</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="cc">Create Customer</a>
            <a href="showcustomer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="about">About</a></li>
</ul>
<div class="mnt">
    <br><br><br>
    <table id="t01" style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Size</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="motorhome: ${motorhomes}">
            <!--/*@thymesVar id="studentId" type=""*/-->
            <td th:text="${motorhome.idMotorhome}"></td>
            <td th:text="${motorhome.type}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.size}"></td>
            <td th:text="${motorhome.status}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>