<!--Kodet som gruppe-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create booking</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<ul>
    <li><a class="active" href="../">Home</a></li>
    <div class="dropdown">
        <button class="dropbtn">Booking Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../bookingtemp\verify">Create Booking</a>
            <a href="../bookingtemp\cancel">Delete Booking</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Motorhome Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../motorhometemp\create-motorhome">Create Motorhome</a>
            <a href="../motorhometemp\show-motorhome"> Show Motorhome</a>
            <a href="../motorhometemp\deletemotorhome">Delete Motorhome</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Customer Options
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="../customertemp\create-customer">Create Customer</a>
            <a href="../customertemp\show-customer">Show Customers</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li style="float:right"><a href="../about">About</a></li>
</ul>
<div class="mnt">

    <form action="#" th:action="@{/bookingtemp/create-booking}" th:object="${booking}" method="post">
        <br>
        <label>Customer phone found: </label>
        <td th:text="*{customerPhone}"></td>
        <p><input type="hidden" th:field="*{customerPhone}"/></p>
        <br>
        <br>
        <label>Booking start:</label>
        <p><input required="required" type="date" th:field="*{bookingDate}"/></p>
        <label>Booking end:</label>
        <p><input required="required" type="date" th:field="*{bookingEndDate}"/></p>
        <label>Dropoff location (Optional):</label>
        <p><input type="text" th:field="*{dropoff}"/></p>
        <label>Pickup location (Optional):</label>
        <p><input type="text" th:field="*{pickup}"/></p>
        <div align="center">
         <input type="submit" value="Submit" class="btn btn-create" style="height:30px; width:130px"/>
        </div>
    </form>
</div>
</body>
</html>